body {
    background: #fff;
    color: #000;
    text-align: center;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 120px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.header-links {
    display: flex;
    gap: 60px;
    margin-left: 80px;
    padding-top: 25px;
}

.logo-placeholder,
.login-placeholder {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.login-placeholder {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    padding-bottom: 15px;
}

.form-container {
    background: #000;
    color: #fff;
    width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#icon{
    padding-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

select,
input,
textarea {
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

textarea {
    height: 250px;
    resize: none;
    text-align: left;
}

button {
    background: #a89a97;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8c7f7c;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.solicitacao,
.historico,
.card {
    background: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    min-height: 250px;
}

.status-finalizado {
    color: limegreen;
}
.status-andamento {
    color: dodgerblue;
}
.status-negado {
    color: red;
}
.status-avaliacao {
    color: gold;
}

.card {
    width: 300px;
    text-align: left;
}

.card p,
.card h3 {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.icon-placeholder {
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 20px auto;
    border-radius: 50%;
}

.login-box,
.register-box {
    background: #000;
    color: #fff;
    width: 500px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
}

.login-box input,
.register-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.update-container {
    background: #000;
    color: #fff;
    width: 800px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
}

.update-container textarea {
    height: 150px;
}
.btn-logout {
    display: inline-block;
    padding: 10px 20px;
    padding-top: 10px;
    background-color: #8c7f7c;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
@media (max-width: 768px) {
    .form-container,
    .login-box,
    .register-box,
    .update-container {
        width: 95%;
    }

    select,
    input,
    textarea {
        width: 100%;
    }

    .card {
        width: 90%;
    }
  }  
