<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-links">
        <div><a href="/home">Home</a></div>
        <div><a href="/solicitacao">Solicitação</a></div>
        <div><a href="/historico">Histórico</a></div>
        <div><a href="/perfil">Perfil</a></div>
    </div>
    <div class="logo">
      <img src="/icons/logo.png" alt="Logo" />
    </div>
    <div class="user-icon">
      <a href="/login"><img src="/icons/card_login.png" alt="card_login" /></a>
    </div>
  </header>

  <h2>ATUALIZAÇÃO DE PROCESSOS</h2>

  <div class="form-container">
    <form action="/admin/update" method="post">
      <label for="solicitacaoId">Escolha a Solicitação</label>
      <select name="solicitacaoId" id="solicitacaoId" required>
        <option value="" disabled selected>Selecione a solicitação</option>
        <!-- Itera sobre a lista de solicitações -->
        <option th:each="s : ${solicitacoes}" 
                th:value="${s.id}" 
                th:text="'ID: ' + ${s.id} + ' - ' + ${s.descricao}"></option>
      </select>
      <select name="status" required>
        <option value="EM AVALIAÇÃO" disabled selected>EM AVALIAÇÃO</option>
        <option value="NEGADO">NEGADO</option>
        <option value="EM ANDAMENTO">EM ANDAMENTO</option>
        <option value="FINALIZADO">FINALIZADO</option>
      </select>
      <textarea name="detalhes" placeholder="Detalhes"></textarea>
      <button type="submit">Atualizar</button>
    </form>
  </div>
</body>
</html>