<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-links">
        <div><a href="/home">Home</a></div>
        <div><a href="/solicitacao">Solicitação</a></div>
        <div><a href="/historico">Histórico</a></div>
    </div>
    <div class="logo"><img src="/icons/logo.png" alt="Logo" /></div>
    <div class="user-icon"><a href="/login"><img src="/icons/card_login.png" alt="card_login" /></a></div>
  </header>

  <h2>ATUALIZAÇÃO DE PROCESSOS</h2>

  <div class="form-container">
    <form action="/admin/update" method="post">
      <select name="solicitacao">
        <option value="">Escolha a Solicitação</option>
      </select>
      <input type="text" name="status" placeholder="Status" required>
      <textarea name="detalhes" placeholder="Detalhes"></textarea>
      <button type="submit">Atualizar</button>
    </form>
  </div>
</body>
</html>