<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Histórico</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-links">
      <div><a href="/home">Home</a></div>
      <div><a href="/solicitacao">Solicitação</a></div>
      <div><a href="/perfil">Perfil</a></div>
      <div th:if="${session.usuarioLogado != null and session.usuarioLogado.role}">
        <a href="/admin">Admin</a>
      </div>
    </div>
    <div class="logo">
      <img src="/icons/logo.png" alt="Logo" />
    </div>
    <div class="user-icon">
      <a href="/login"><img src="/icons/card_login.png" alt="card_login" /></a>
    </div>
  </header>

  <h2>Histórico de Solicitações</h2>

  <div class="container">
    <div th:if="${#lists.isEmpty(historicos)}">
      <p>Nenhuma solicitação encontrada.</p>
    </div>
    <div th:each="h : ${historicos}" class="card">
      <h3><strong>Status:</strong> <span th:text="${h.status}">Status</span></h3>
      <p><strong>Categoria:</strong> <span th:text="${h.solicitacao.categoria}">Categoria</span></p>
      <p><strong>Endereço:</strong> <span th:text="${h.solicitacao.endereco}">Endereço</span></p>
      <p><strong>ID:</strong> <span th:text="${h.solicitacao.id}">1</span></p>
      <p><strong>Descrição:</strong> <span th:text="${h.solicitacao.descricao}">Descrição</span></p>
    </br>
      <h3>Dados do Processo</h3>
      <p><strong>Detalhes:</strong> <span th:text="${h.detalhes}">Detalhes</span></p>
      <p><strong>Admin Responsável:</strong> <span th:text="${h.admin.nome}">Nome do Admin</span></p>
      <p><strong>Email do Admin:</strong> <span th:text="${h.admin.email}">Email</span></p>
      <p><strong>Data de Criação:</strong>
        <span th:if="${h.solicitacao.dataCriacao != null}"
              th:text="${#temporals.format(h.solicitacao.dataCriacao, 'dd/MM/yyyy HH:mm')}">
        </span>
      </p>
    </div>
  </div>
</body>
</html>