<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HISTÓRICO</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div name="Home">
            <a href="/Home">Home</a>
        </div>
        <div name="Historico">
            <a href="/Historico">Histórico</a>
        </div>
        <div name="logo"></div>
        <div name="Login">
            <a href="/Login">img</a>
        </div>
    </header>

    <h2>HISTÓRICO</h2>

    <div name="solicitacoes"></div>
</body>
</html>