<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="header-links">
        <div><a href="/solicitacao">Solicitação</a></div>
        <div><a href="/Historico">Histórico</a></div>
        <div><a href="/cadastro">Cadastro</a></div>
        <div><a href="/admin">Admin</a></div>
        <div><a href="/login">Login Teste</a></div>
    </div>
    <div class="logo">logo</div>
    <div class="user-icon">icon</div>
</header>
<h2>HOME</h2>
<div class="container">
    <div class="solicitacao">
        <h2>Solicitação</h2>
        <section>
            <p>Buracos nas Ruas</p>
            <p>Iluminação Pública</p>
            <p>Outros</p>
            <p>Descarte de Lixo</p>
            <p>Vazamento de Água</p>
        </section>
    </div>
    <div class="historico">
        <h2>Histórico</h2>
        <section>
            <p>Solicitação 1 - 10/04/2025</p>
            <p>Solicitação 2 - 09/04/2025</p>
        </section>
    </div>
</div>
</body>
</html>