<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="header-links">
        <div><a href="/solicitacao">Solicitação</a></div>
        <div><a href="/Historico">Histórico</a></div>
        <div><a href="/cadastro">Cadastro</a></div>
        <div><a href="/admin">Admin</a></div>
    </div>
    <div class="logo">
        <img src="icons/logo.png" alt="Logo" />
    </div>
    <div class="user-icon">
        <a href="/login"><img src="icons/card_login.png" alt="card_login" /></a>
    </div>
</header>

<h2>HOME</h2>

<div class="container">

    <div class="solicitacao">
        <h2>Escolha o tipo de solicitação</h2>
        <div class="card-container">
            <div class="card-solicitacao">
                <img src="img/buraco.jpeg" alt="Buracos nas Ruas">
                <p>Buracos nas Ruas</p>
            </div>
            <div class="card-solicitacao">
                <img src="img/iluminacao.jpeg" alt="Iluminação Pública">
                <p>Iluminação Pública</p>
            </div>
            <div class="card-solicitacao">
                <img src="img/lixo.jpeg" alt="Descarte de Lixo">
                <p>Descarte de Lixo</p>
            </div>
            <div class="card-solicitacao">
                <img src="img/vazamento.jpeg" alt="Vazamento de Água">
                <p>Vazamento de Água</p>
            </div>
        </div>
        <p class="exemplo">Avise a prefeitura sobre algo que precise de manutenção</p>
    </div>

</div>
</body>
</html>