<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Solicitação</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-links">
      <div><a href="/home">Home</a></div>
      <div><a href="/historico">Histórico</a></div>
      <div><a href="/admin">Admin</a></div>
    </div>
    <div class="logo"><img src="/icons/logo.png" alt="Logo" /></div>
    <div class="user-icon"><a href="/login"><img src="/icons/card_login.png" alt="card_login" /></a></div>
  </header>

  <h2>SOLICITAÇÃO</h2>
  <div class="form-container">
    <form action="/solicitacao" method="post">
      <select name="categoria" required>
        <option value="" disabled selected>Categoria</option>
        <option value="Buracos">Buracos nas Ruas</option>
        <option value="Iluminacao">Iluminação Pública Defeituosa</option>
        <option value="Descarte">Descarte Irregular de Lixo</option>
        <option value="Vazamento">Vazamento de Água</option>
        <option value="Outro">Outro</option>
      </select>
      <input type="text" name="endereco" placeholder="Endereço" required>
      <textarea name="descricao" placeholder="Descrição" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>